@import url('https://fonts.googleapis.com/css2?family=Coustard:wght@400;900&family=Fjord+One&family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&display=swap');


    
    *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: "Fjord One", serif;
    
    display: grid;
    min-height: 100%;
    gap: 0;
    
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 95% 20vh;
}


/* Typo */
h1, h2, a{
    font-family: "Coustard", serif;
    font-weight: 500;
    color: #242423;
}

h3, h4{
    font-family: "Neuton", serif;
    color: #242423;
}


/* Boutons */
section a{
    padding: 0.5rem 1rem;
    background-color: #F5CB5C;
    border-radius: 10px;
    width: 30%;
    
    text-align: center;
    text-decoration: none;
    color: #242423;
    transition: 0.3s;
    
    border: solid transparent 1px;
}

section a:hover{
    border: solid 1px #242423;
    background-color: white;
}


/* Commandes supplémentaires */
section{
    min-height: 80vh;
}

.text-center{
    text-align: center;
}


/* Page Accueil *//* Page Accueil *//* Page Accueil */
/* Page Accueil *//* Page Accueil *//* Page Accueil */
/* Page Accueil *//* Page Accueil *//* Page Accueil */
/* Page Accueil *//* Page Accueil *//* Page Accueil */
/* Page Accueil *//* Page Accueil *//* Page Accueil */
/* Page Accueil *//* Page Accueil *//* Page Accueil */

/* Menu Burger */
    .menuBurger{
        display: none;
    }
    
    nav ul li.réseaux{
        display: none;
    }
    
    nav ul .arrowIcon{
        display: none;
    }



/* HEADER */
/* HEADER */
/* HEADER */

header{
    background-color: #F5CB5C;
    grid-column: 1;
    grid-row: 1/2;
    
    display: flex;
    justify-content: space-between;
    padding: 0 3rem;
}


/* Navbar */
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35%;
}

/* Ecartement Navbar */
header nav ul{
    justify-content: space-between;
    display: flex;
    width: 100%;
}

/* Bouton Navbar */
header nav ul li a{
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

/* Hover Navbar */
header nav ul li{
    transition: all ease 0.3s;
    list-style: none;
}

header nav ul li:hover{
    transform: scale(1.125);
}

/* Couleur Section Active */
.actif{
    background-color: #24242317;
    padding: 0.5rem 1rem;
    border-radius: 10px;
}

ul.active li {
    -webkit-list-style: none;
    list-style: none;
}

/* MENU BURGER */

/* Emplacement Menu Burger */
nav .menuBurger {
    cursor: pointer;
}

/* Ligne Menu Burger */
nav .menuBurger .burgerIcon {
    display: flex;
    flex-direction: column;
}

nav .menuBurger .line {
    width: 30px;
    height: 3px;
    background-color: #8F8F8F;
    margin: 4px 0;
    border-radius: 10px;
    transition: all 0.3s ease;
}






nav ul .arrowIcon {
    font-size: 30px;
    color: #8F8F8F;
    position: absolute;
    top: 60px;
    right: 24px;
    transform: translateY(-50%);
    z-index: 101;
}


nav .menuBurger.active .arrowIcon {
    display: block;
    position: fixed;
}










/* Main */
/* Main */
/* Main */
main{
    grid-column: 1;
    grid-row: 2/3;
    
}




/* Section Intro */
/* Section Intro */
/* Section Intro */
.section-intro{  
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 80%;
}

/* Container Intro */
.section-intro .container{
    width: 40%;
    
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

/* H1 */
.section-intro .container h1{
    width: 70%;
    margin-bottom: 10px;
}

/* Bouton */
.section-intro .container a{
    margin-top: 30px;
}

/* Image */
.section-intro img{
    width: 35%;
}




/* Section Burgers */
.section-burgers{
    align-content: center;
    background-color: #E8EDDF;
    min-height: 100vh;
    padding: 5rem 0;
}


/* Image */
.section-burgers .container img{
    width: 80%;
    transition: 0.3s;
}

.section-burgers .container img:hover{
    transform: scale(1.125);
}


/* Container - Alignement */
.section-burgers .align{
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 40px;
}

.section-burgers .align .container{
    width: 25%;
    background-color: #33353309;
    border-radius: 10%;
    padding: 2rem;
}

/* H1 */
.section-burgers h1{
    margin-bottom: 50px;
}


/* Bouton */
.section-burgers a{
    display: flex;
    justify-content: center;
    width: 10%; 
    margin: 0 auto;
}

.section-burgers a:hover{
    background-color: #E8EDDF;
}

/* Section Histoire */
/* Section Histoire */
/* Section Histoire */
/* Section Histoire */
.section-histoire{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 85%;
    min-height: 70vh;
}

.section-histoire div{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 220px;
}

/* Image */
.section-histoire img{
    width: 80vw;
    height: 40vh;
}

/* Paragraphe */
.section-histoire p{
    width: 80%;
}



/* Section Mobile */
/* Section Mobile */
/* Section Mobile */
.section-mobile-recrutement{
    background-image: url(../img/253215.jpg);
    background-size: cover;
    min-height: 40vh;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* Container textuel */
.section-mobile-recrutement .container{
    width: 70%;
    margin: 0 auto;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    
    
    grid-column: 1/2;
}

.section-mobile-recrutement .container div{
    margin-bottom: 20px;

}



/* Section Localisation */
/* Section Localisation */
/* Section Localisation */
.section-localisation{
    padding: 5rem 0 0;
}

/* H1 */
.section-localisation h1{
    margin-bottom: 40px;
}

/* Google Map & Button */
.section-localisation .map-container, .section-localisation div#map-display{
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Position Google Map */
.section-localisation iframe{
    width: 90%;
}

/* Button Custom */
.section-localisation button{
    padding: 0.5rem 1rem;
    margin: 2rem 2rem 0;
    background-color: transparent;
    border: solid 2px #F5CB5C;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    font-family: "Coustard", serif;
}

.section-localisation button:hover{
    background-color: #F5CB5C;
}



/* Footer */
/* Footer */
/* Footer */
footer{
    grid-column: 1;
    grid-row: 3/4;
    
    background-color: #333533;
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #E8EDDF;
    padding: 0 2rem;
    height: 30vh;
}


/* Navbar */
footer nav a{
    color: #E8EDDF;
    text-decoration: none;
    flex-direction: column;
    display: flex;
    transition: 0.3s;
}

footer nav a:hover{
    color: #F5CB5C;
}

footer nav{
    display: grid;
    
    grid-template-columns: 1fr 1fr;
    grid-column: 1/2;
    
    flex-direction: column;
}

footer nav{
    grid-column: 2/3;
}

/* Logo / Copyright */
footer .container-centre img{
    width: 15%;
}

footer .container-centre{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Newsletter / réseaux */
footer .container-droite{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /* height: 100%; */
}

footer .container-droite h2{
    color: #E8EDDF;
}


/* Newsletter */
footer .container-droite .newsletter{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    align-content: center;
    margin-bottom: 10px;
}

footer .container-droite .newsletter input{
    padding: 0.8rem 4rem 0.8rem 5px;
    background-color: #E8EDDF;
    border-radius: 10px;
    border: none;
}

footer .container-droite .newsletter input.btn{
    padding: 0.8rem 1rem;
    transition: 0.5s;
}

footer .container-droite .newsletter input.btn:hover{
    background-color: #F5CB5C;
}

/* Réseaux */
footer .container-droite .réseaux i{
    font-size: 30px;
    transition: 0.3s;
    align-items: center;
}

footer .container-droite .réseaux i:hover{
    color: #F5CB5C;
}

footer .container-droite .réseaux div{
    justify-content: space-between;
    display: flex;
    width: 40%;
    margin-top: 10px;
}


/* Page service *//* Page service *//* Page service */
/* Page service *//* Page service *//* Page service */
/* Page service *//* Page service *//* Page service */
/* Page service *//* Page service *//* Page service */
/* Page service *//* Page service *//* Page service */

/* Section Intro */
.intro-service{
    background-image: url(../img/ZaAMNAwZ-burger-king-2-pro-18jpg56021647cropped.jpg);
    background-size: cover;
    min-height: 60vh;
    display: grid;
    grid-template-columns: 40% 30%;
    width: 100%;
    padding: 0 6rem;
}

.intro-service .container{
    grid-column: 1/2;
    width: 90%;
}

.intro-service .container h1, .intro-service .container p{
    color: #E8EDDF;
}


/* Section Services */
.section-services img{
    width: 500px;
    height: 300px;
}


/* GRID */
.section-services{
    display: grid;
    grid-template-rows: 45vh 45vh 45vh 0.1fr 0.1fr;
    padding: 5rem 0;
}

.section-services .regroup-1{
    grid-row: 1/2;
}

.section-services .regroup-2{
    grid-row: 2/3;
    
}

.section-services .regroup-3{
    grid-row: 3/4;
    
}



.section-services .regroup-1, .section-services .regroup-3{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
}

.section-services .regroup-2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    text-align: end;
}

.section-services .regroup-1 div, .section-services .regroup-3 div, .section-services .regroup-2 div{
    width: 40%;
}

.section-services .btn{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
    align-items: center;
    height: 80px;
}


/* Page Réalisations *//* Page Réalisations *//* Page Réalisations */
/* Page Réalisations *//* Page Réalisations *//* Page Réalisations */
/* Page Réalisations *//* Page Réalisations *//* Page Réalisations */
/* Page Réalisations *//* Page Réalisations *//* Page Réalisations */
/* Page Réalisations *//* Page Réalisations *//* Page Réalisations */

/* Section réalisations */
.section-réalisation{
    align-content: center;
    min-height: 100vh;
    padding: 5rem 0;
}


/* Image */
.section-réalisation .container img{
    width: 80%;
    transition: 0.3s;
}

.section-réalisation .container img:hover{
    transform: scale(1.125);
}


/* Container - Alignement */
.section-réalisation .align{
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 40px;
}

.section-réalisation .align .container{
    width: 22%;
    background-color: #33353309;
    border-radius: 10%;
    padding: 2rem;
}

/* H2 */
.section-réalisation h2{
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

/* Navbar */
.section-réalisation nav{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 25%;
    margin-bottom: 50px;
}

.section-réalisation nav a{
    background-color: transparent;
}

/* Espacement */
.section-réalisation .bottom-space{
    margin-bottom: 20vh;
}

/* Image Poisson */
.section-réalisation .fish img{
    width: 100%;
}



/* Page à propos *//* Page à propos *//* Page à propos */
/* Page à propos *//* Page à propos *//* Page à propos */
/* Page à propos *//* Page à propos *//* Page à propos */
/* Page à propos *//* Page à propos *//* Page à propos */

/* section About */
.section-about{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    min-height: 70vh;
    align-items: center;
}

/* Image */
.section-about img{
    width: 700px;
    height: 450px;
    position: relative;
}

/* Taille textuel */
.section-about div{
    width: 50%;
}

/* Fond jaune */
.section-about figure{
    position: absolute;
    width: 700px;
    height: 450px;
    background-color: #dda610;
    right: 50px;
    top: 150px;
}


/* Section Textuel */
.section-textuel{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
    padding: 4rem 0;
    background-color: #242423;
}

.section-textuel div{
    width: 70%;
    margin: 0 auto;
}

/* Couleur texte */
.section-textuel p, .section-textuel h2{
    color: #E8EDDF;
}

/* Bouton */
.section-textuel .btn{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    margin-top: 30px;
    color: #E8EDDF;
}

.section-textuel .btn a:hover{
    background-color: #242423;
    color: #F5CB5C;
    border: solid 1px #F5CB5C;
}

/* Margin H2 */
.section-textuel .btn h2{
    margin-bottom: 20px;
}



/* Page Contact *//* Page Contact *//* Page Contact */
/* Page Contact *//* Page Contact *//* Page Contact */
/* Page Contact *//* Page Contact *//* Page Contact */
/* Page Contact *//* Page Contact *//* Page Contact */

/* Section Contact */
.section-contact{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    
    align-items: center;
    min-height: 70vh;
}

.section-contact div{
    width: 50%;
}

/* Formulaire de contact */
.section-contact form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: "Coustard", serif;
    
    width: 40%;
    height: 550px;
    padding: 2rem;
    
    background-color: rgba(124, 124, 124, 0.03);
    border-radius: 10px;
}

/* Forme Zone de texte + Bouton */
.section-contact form input{
    width: 200px;
    border-radius: 4px;
    padding: 0.5rem 4rem 0.5rem 5px;
    border: none;
}

.section-contact form textarea{
    height: 200px;
    margin-bottom: 20px;
    font-family: "Coustard", serif;
    padding: 5px;
    border: none;
    
    border-radius: 10px;
}

/* Bouton */
.section-contact .btn{
    padding: 7px;
    background-color: #F5CB5C;
    transition: 0.4s;
    
}

.section-contact .btn:hover{
    background-color: white;
    
    border: solid 1px;
}

/* Flex Nom / Prénom */
form .align-top{
    display: flex;
    justify-content: space-between;
    width: 85%;
}

form .message{
    flex-direction: column;
    display: flex;
}


/* OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO */
/* OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO */
/* OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO */
/* OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO */
/* OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO */
/* OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO */







@media only screen and (min-width: 2000px) {
    html, body{
        font-size: 24px;
    }
}

@media screen and (max-width: 1440px){

        /* Page Service */    /* Page Service */    /* Page Service */
    /* Page Service */    /* Page Service */    /* Page Service */
    /* Page Service */    /* Page Service */    /* Page Service */
    /* Page Service */    /* Page Service */    /* Page Service */

    /* Header nav */
    header nav{
        width: 60%;
    }


    /* Section Services > h1 */
    .section-services h1{
        width: 100%;
    }

    .intro-service{
        width: 100%;
        display: flex;
    }

    /* Section Services > Regroupement*/
    .section-services .same-regroup{
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        text-align: left;
        height: 60%;
        width: 90%;
    }
    
    /* Section Services > Regroupement Div  */
    .section-services .same-regroup div{
        width: 100%;
    }

    /* Section Services > div P */
    .section-services p{
        margin-bottom: 20px;
    }

    /* Section Service > Img */
    .section-services img{
        width: 50%;
        height: 100%;
        margin: 0 auto;
    }

    /* Section Service > Bouton */
    .section-services a{
        margin: 30px 0;
        width: 50%;
    }


    /* Section Mobile - Recrutement */
    .section-mobile-recrutement{
        min-height: 60vh;
    }

    /* Section Localisation */

    .section-localisation{
        flex-direction: column;
        margin-bottom: 200px;
    }

    
}



@media screen and (max-width: 1024px){
    header nav{
        width: 65%;
        justify-content: space-between;
    }

    header nav ul{
        width: 100%;
    }


    /* Header nav */
    header nav{
        justify-content: space-between;
        width: 70%;
    }

    /* Header nav > ul */
    header nav ul{
        display: flex;
        list-style-type: none;
        flex-direction: row;
        align-items: center;
        position: static;
    }

    /* Section Intro */
    .section-intro{
        width: 100%;
        padding: 0 3rem;
    }

    /* Section Intro > Container */
    .section-intro .container{
        width: 50%;
    }

    /* Section Intro > Img */
    .section-intro img{
        width: 40%;
    }

    /* Section Intro > bouton */
    .section-intro a{
        width: 50%;
    }

    /* Section Burgers */
    /* Section Burgers > Container */
    .section-burgers .align .container{
        /* height: 60vh; */
        width: 30%;
    }

    /* Section Burgers > Img */
    .section-burgers .align .container img{
        width: 100%;
    }

    /* Section Burgers > Bouton */
    .section-burgers a{
        width: 25%;
    }


    /* Section Histoire */
    .section-histoire{
        flex-direction: column;
        width: 100%;
        padding: 2rem 0;
    }

    /* Section Histoire > Bouton */
    .section-histoire a{
        margin: 2vh 0;
    }


    /* Section Mobile - Recrutement */
    .section-mobile-recrutement{
        padding: 0 3rem;
    }

    /* Section Mobile - Recrutement > Container */
    .section-mobile-recrutement .container{
        width: 100%;
    }

    /* Section Histoire > Img */
    .section-histoire img{
        height: auto;
    }


    /* Section Localisation */

    /* Section Localisation > Container Bouton */
    .section-localisation .map-container{
        flex-direction: column;
        margin-bottom: 100px;
        align-items: center;
    }

    /* Section Localisation > Bouton */
    .section-localisation button{
        width: 50%;
    }
 
        /* Footer */
    footer{
        height: 40vh;
        /* display: flex; */
        text-align: center;
        align-content: center;
        align-items: center;
    }

    /* Footer > Copyright + Logo */
    footer .container-centre{
        order: 0;
    }

    /* Footer > Espacement Bouton */
    footer nav div a{
        margin-bottom: 15px;
    }

    /* Footer > Container Droite */
    footer .container-droite{
        width: 50%;
    }

    /* Footer > Newsletter Container */
    footer .container-droite .newsletter{
        justify-content: center;
        font-size: 14px;
        margin-bottom: 30px;
    }
    
    /* Footer > Input Newsletter */
    footer .container-droite .newsletter input {
        margin-top: 10px;
    }

    /* Footer > Réseaux Container Logo */
    footer .container-droite .réseaux div{
        margin: 0 auto;
    }

    /* Footer > Réseaux H2 */
    footer .container-droite .réseaux h2{
        font-size: 18px;
        margin-bottom: 10px;
    }

        /* Page Service */    /* Page Service */    /* Page Service */
    /* Page Service */    /* Page Service */    /* Page Service */
    /* Page Service */    /* Page Service */    /* Page Service */
    /* Page Service */    /* Page Service */    /* Page Service */

    /* Section Services */
    .section-services{
        height: 55%;
        justify-content: space-between;
        display: flex;
        flex-direction: column;
    }

    /* Section Services > h1 */
    .section-services h1{
        width: 100%;
    }

    .intro-service{
        width: 100%;
        display: flex;
    }

    /* Section Services > Regroupement*/
    .section-services .same-regroup{
        flex-direction: column;
        text-align: left;
        justify-content: space-around;
    }
    
    /* Section Services > Regroupement Div  */
    .section-services .same-regroup div{
        width: 100%;
    }

    /* Section Service > Img */
    .section-services img{
        width: 100%;
        height: 80%;
        margin: 30px 0;
    }

    /* Section Service > Bouton */
    .section-services a{
        margin: 30px 0;
        width: 50%;
    }


    /* Section Mobile - Recrutement */
    .section-mobile-recrutement{
        min-height: 60vh;
    }

            /* section Réalisation > Nav */
    .section-réalisation nav{
        width: 80%;
    }

    /* Section réalisation > Container */
    .section-réalisation .align .container{
        width: 60%;
        margin: 20px;
    }


}



@media screen and (max-width: 768px){
    section, header, main, footer{
        min-width: 100vw;
    }



    /* Menu Burger */
    .menuBurger{
        display: flex;
    }
    
    nav ul li.réseaux{
        display: flex;
    }
    
    nav ul .arrowIcon{
        display: flex;
    }
    
    /* Page Accueil */  /* Page Accueil */  /* Page Accueil */
    /* Page Accueil */  /* Page Accueil */  /* Page Accueil */
    /* Page Accueil */  /* Page Accueil */  /* Page Accueil */
    /* Page Accueil */  /* Page Accueil */  /* Page Accueil */

    /* Header */
    header{
        padding: 0 1rem;
    }
    
    header nav{
        width: 10%;
    }

    header nav ul.active{
        height: 40%;
        width: 50%;   
    }

    /* Design menu burger */
    header nav ul.active {
    height: 100vh;
    opacity: 1;
    right: 0;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

    /* NavBar dans le Menu */
    header nav ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        opacity: 1;
        color: #8F8F8F;
        z-index: 100;
        transition: 0.25s;
        justify-content: start;
        /* gap: 5%; */
    }

    header nav ul li{
        list-style: none;
        text-align: center;
        margin-top: 10vh;
    }

    /* Page Accueil > Section Intro */
    .section-intro{
        flex-direction: column;
        align-items: normal;
        padding: 2rem;
        width: 100vw;
    }

    /* Section Intro > Container textuel */
    .section-intro .container{
        width: 100%;
    }

    
    /* Section Intro > Bouton */
    .section-intro a{
        width: 25%;
        margin-bottom: 20px;
    }

    /* Section Intro > Img */
    .section-intro img{
        width: 70%;
        margin: 0 auto;
    }
    

    
    /* Section Burgers */

    /* Section Burgers > Alignement */
    .section-burgers .align{
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
    }

    /* Section Burgers > Container */
    .section-burgers .align .container{
        width: 80%;
        margin-bottom: 40px;
    }

    /* Section Burgers > Bouton */
    .section-burgers a{
        width: 25%;
    }


    /* Section Histoire */
    .section-histoire{
        flex-direction: column;
        align-items: normal;
        justify-content: space-between;
        padding: 2rem;
        width: 100vw;
    }

    /* Section Histoire > Container Textuel */
    .section-histoire div{
        width: 100%;
        height: 50%;
    }

    /* Section Histoire > Container p */
    .section-histoire div p{
        width: 100%;
        margin-bottom: 20px;
    }

    /* Section Histoire > Bouton */
    .section-histoire a{
        width: 35%;
    }

    /* Section Histoire > Img */
    .section-histoire img{
        width: 90vw;
        margin: 0 auto;
        height: 35%;
    }


    /* Section Mobile - Recrutement */
    .section-mobile-recrutement{
        display: flex;
        padding: 0rem 2rem;
    }

    /* Section Mobile - Recrutement > Container */
    .section-mobile-recrutement .container{
        width: 100%;
    }

    /* Section Mobile - Recrutement > P */
    .section-mobile-recrutement .container p{
        width: 70%;
    }


    
    /* Section Localisation */
    .section-localisation{
        min-height: 100vh;
        padding: 5rem 0 10rem;
    }

    /* Section Localisation > Container Bouton */
    .section-localisation .map-container{
        flex-direction: column;
        margin-bottom: 100px;
        align-items: center;
    }

    /* Section Localisation > Bouton */
    .section-localisation button{
        width: 50%;
    }

    /* Footer */
    footer{
        flex-direction: column;
        justify-content: space-between;
        height: 90vh;
        text-align: center;
        padding: 2rem 0;
    }

    /* Footer > Copyright + Logo */
    footer .container-centre{
        order: 1;
    }

    /* Footer > Espacement Bouton */
    footer nav div a{
        margin-bottom: 15px;
    }

    /* Footer > Container Droite */
    footer .container-droite{
        height: 30%;
    }

    /* Footer > Newsletter Container */
    footer .container-droite .newsletter{
        justify-content: center;
        height: 20vh;
        font-size: 14px;
        margin-bottom: 30px;
    }
    
    /* Footer > Input Newsletter */
    footer .container-droite .newsletter input {
        margin-top: 10px;
    }

    /* Footer > Réseaux Container Logo */
    footer .container-droite .réseaux div{
        margin: 0 auto;
    }

    /* Footer > Réseaux H2 */
    footer .container-droite .réseaux h2{
        font-size: 18px;
        margin-bottom: 10px;
    }



    /* Page Service */    /* Page Service */    /* Page Service */
    /* Page Service */    /* Page Service */    /* Page Service */
    /* Page Service */    /* Page Service */    /* Page Service */
    /* Page Service */    /* Page Service */    /* Page Service */

    /* Section Services */
    .section-services{
        height: 55%;
        justify-content: space-between;
        display: flex;
        flex-direction: column;
    }

    /* Section Services > h1 */
    .section-services h1{
        width: 100%;
    }

    .intro-service{
        width: 100%;
        display: flex;
    }

    /* Section Services > Regroupement*/
    .section-services .same-regroup{
        flex-direction: column;
        text-align: left;
    }
    
    /* Section Services > Regroupement Div  */
    .section-services .same-regroup div{
        width: 100%;
    }

    /* Section Service > Img */
    .section-services img{
        width: 100%;
        height: 50%;
        margin: 30px 0;
    }

    /* Section Service > Bouton */
    .section-services a{
        margin: 30px 0;
        width: 50%;
    }


    /* Section Mobile - Recrutement */
    .section-mobile-recrutement{
        min-height: 60vh;
    }

        /* section Réalisation > Nav */
    .section-réalisation nav{
        width: 80%;
    }

    /* Section Réalisation > Align */
    .section-réalisation .align{
        flex-direction: column;
        margin-bottom: 30px;

        align-items: center;
    }

    /* Section réalisation > Container */
    .section-réalisation .align .container{
        width: 60%;
        margin-bottom: 30px;
    }


    /* Section Localisation */
    .section-localisation{
        margin-bottom: 300px;
    }


    /* Page Contact */    /* Page Contact */    /* Page Contact */
    /* Page Contact */    /* Page Contact */    /* Page Contact */
    /* Page Contact */    /* Page Contact */    /* Page Contact */

    /* section contact */
    .section-contact{
        flex-direction: column;
    }

    .section-contact form{
        width: 100%;
    }

    .section-contact form .message textarea style{
        width: 10vw;
        height: 100px;
    }
}


@media screen and (max-width: 450px){
    /* Section HIstoire */
    .section-histoire{
        height: 12%;
    }

    /* Section réalisation */
    .section-réalisation{
        min-height: 100vh;
    }

    /* section Réalisation > Nav */
    .section-réalisation nav{
        width: 80%;
    }

    /* Section Réalisation > Align */
    .section-réalisation .align{
        flex-direction: column;
        margin-bottom: 30px;
    }

    /* Section réalisation > Container */
    .section-réalisation .align .container{
        width: 100%;
        margin-bottom: 30px;
    }

    footer{
        min-height: 100%;
    }

    .section-localisation{
        margin-bottom: 200px;
    }
    
}


@media screen and (max-width: 360px){
    
    /* Footer Newsletter input */
    footer input{
        margin: 0 auto;
    }
    
    
    /* Section Histoire */
    .section-histoire{
        height: 12%;
    }

    /* Section Histoire > Img */
    .section-histoire img{
        height: 20vh;
    }

    /* Section Histoire > Bouton */
    .section-histoire a{
        width: 50%;
    }

        /* Section Mobile - Recrutement */
    .section-mobile-recrutement{
        min-height: 70vh;
    }


    /* Page Services */    /* Page Services */    /* Page Services */
    /* Page Services */    /* Page Services */    /* Page Services */
    /* Page Services */    /* Page Services */    /* Page Services */
    /* Page Services */    /* Page Services */    /* Page Services */

    /* Section Services */

    /* section services > h3 */
    .section-services h3{
        font-size: 16px;
    }
}
